@tailwind base;

@font-face {
  font-family: 'Geogrotesque', sans-serif;
  src: url('/static/fonts/Geogtq-Md.otf');
}

body {
  font-family: 'Geogrotesque', sans-serif;
}

@tailwind components;
@tailwind utilities;
