/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

.text-yellow {
  color: #ECC400;
}

.icon-primary {
  fill: #FFF;
}

.icon-primary:hover {
  fill: #ECC400;
}

.max-w-screen-xxl {
  max-width: 1600px;
}

img{
  display: initial;
}

.w-fit-content {
  width: fit-content;
}

@font-face {
  font-family: 'Geogrotesque';
  src: url('/static/fonts/Geogtq-Md.otf');
}

@font-face {
  font-family: 'Sensation Regular';
  src: url('/static/fonts/sansation_regular.ttf');
}

@font-face {
  font-family: 'Sensation Bold';
  src: url('/static/fonts/sansation_bold.ttf');
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0 auto;
  font-family: 'Geogrotesque', sans-serif;
  max-width: 100vw;
}

