.transition-left {
  transition: left 0s,background-color 350ms cubic-bezier(.55,0,.1,1);
  transition-property: left, background-color;
  transition-duration: 0s, 350ms;
  transition-timing-function: ease, cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0s, 0s;
}

.left-outofbounds {
  left: -105%;
}
