@tailwind base;

/* Base styles */
@font-face {
  font-family: "Geogrotesque";
  font-weight: 400;
  src: url("/fonts/Geogtq-Md.otf");
}

@font-face {
  font-family: "Sensation Regular";
  font-weight: 400;
  src: url("/fonts/sansation_regular.ttf");
}

@font-face {
  font-family: "Sensation Bold";
  font-weight: 400;
  src: url("/fonts/sansation_bold.ttf");
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Custom utilities */
html,
body {
  @apply font-body;
  @apply text-white;
  @apply bg-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
